.btn-cooked-recip {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 200px;
  margin-left: 90px;

}

.buttonPaddingBottom {
  margin-bottom: 2px;
}

.image-recipes {
  width: 140px;
  object-fit: cover;
}

.p-cooked-recip {
  margin-bottom: 0;
  margin-top: 0;
}

.recip-card {
  display: flex;
  flex-flow: nowrap;
  flex-direction: row;
  margin-left: 6px;
  margin-top: 6px;
  width: 347px;


}

.title-recip-cards {
  color: black;
  margin-left: 15px;
}

.toptext-icon {
  display: flex;
  justify-content: space-around;
}
