.btn-explore {
  margin-bottom: 20px;
  width: 220px;
}

.btn-explore-drink {
  margin-bottom: 20px;
  width: 220px;
  background-color: black;
}

.btn-explore-food {
  margin-bottom: 20px;
  width: 220px;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.fix-top {
  margin-top: 80px;
}

.select-expl {
  padding-bottom: 10px;
  padding-top: 20px;
}

.explore__header-general-padding {
  padding-bottom: 150px;
}

.seeking__h1-title {
  font-family: Pepe;
  padding-bottom: 10px;
  color: #723e31;
}

.drinkPerIngredient__padding-bottom {
  padding-bottom: 100px;
}

@media only screen and (min-width: 200px) {
  @media only screen and (max-width: 499px) {
    .explore-image-general-config {
      width: 100%;
    }
    .explore__header-padding {
      padding-bottom: 100px;
    }
    .explore__discover-general {
      width: 100%;
    }
    .seeking__h1-title {
      font-size: 35px;
      text-align: center;
     
    }
   
  }
}