@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dosis:wght@200&family=Hahmlet:wght@200&family=Montserrat&family=Open+Sans:wght@300&family=Poppins:wght@300&family=Raleway:wght@100&family=Roboto+Condensed:wght@300&display=swap');

.form-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  color: white;
  display: flex;
}

.login-button {
  width: 320px;
}

.title {
  font-family: 'Poppins', sans-serif;
  color: rgb(246, 201, 0);
  font-weight: bolder;
  
}