@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dosis:wght@200&family=Hahmlet:wght@200&family=Montserrat&family=Open+Sans:wght@300&family=Poppins:wght@300&family=Raleway:wght@100&family=Roboto+Condensed:wght@300&display=swap');

.body-details {
  background-color: white;
  padding-bottom: 20px;
  width: 100%;
  font-family: 'Poppins', sans-serif;

}

.detailsTitleContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffd000;
  padding-bottom: 3px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-bottom: 22px;
}

.titleColumnTest {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 5px;
}

.titleRecipesConfig {
  color: black;
  font-weight: bolder;
  font-size: 35px;
}

.subTitleRecipesConfig {
  font-size: 20px;
}

.buttonsFavoriteFlex {
  display: flex;
  height: 40px;
}

.subtitleFlexConfig {
  display: flex;
  flex-direction: column;
}

.button-details {
  bottom: 0;
  position: fixed;
  width: 100%;
  border: none;
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 5px;
}

.button-details:disabled {
  opacity: 0.4;
}

.header-details {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  padding-bottom: 0;
}

iframe {
  margin-left: 6px;
  width: 96%;
}

.imgtittle {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.title-details {
  color: rgb(63, 60, 60);
}

.title-instruct {
  margin-top: 20px;
}
.ingredients {
  background-color: #eee;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 16px;
  color: black;
}

.meals {
  height: fit-content;
  min-height: 100%;
}

.nodot {
  list-style-type: none;
}

.img-details {
  width: 170px;
}

.recipeName {
  align-self: center;
  height: auto;
}

.RecommendCard {
  background-color: #0064005e;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  height: 30vh;
  margin-left: 3px;
}

.RecomendImg {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 26vh;
  width: 46.5vw;
}

.sugestions {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 35px;
}
