.category-button {
  padding: 6px;
  margin-left: 4px;
  font-size: 13px;
  width: 130px;
  margin-bottom: 8px;
  background-color: black;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: 'Poppins', sans-serif;
  outline: none;
}

.category-button:hover {
  background-color: #d9c4a9;
}

.food-card {
  display: flex;
  max-width: 140px;
}

.food-card-img {
  height: auto;
  max-height: 120px;
  max-width: 140px;
  width: auto;
}

.food-category {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-between;
}
