.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

li {
  list-style-type: none;
}

ul {
  list-style-type: none;
}


.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}


@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.m-y-1 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.a-i-center {
  align-items: center;
}
.j-c-center {
  justify-content: center;
}
.f-wrap {
  flex-wrap: wrap;
}
.d-flex {
  display: flex;
}

@font-face {
  font-family: Homemade;
  src: url("./font/Rinstonia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: Lilian;
  src: url("./font/Quint\ Cverto.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Ariel;
  src: url("./font/EgonSansCondAlt-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Pepe;
  src: url("./font/Lora-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Juliana;
  src: url("./font/MOONCROWD.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}



